#
# Mstar msg28xx for haier b16c2h
#
menuconfig TOUCHSCREEN_MSG28XX
	bool "Mstar msg28xx touchscreen"
	help
	  Say Y here if you have a Mstar MSG28XX touchscreen connected
	  to your system.

	  If unsure, say N.